# Python cache
__pycache__/
*.py[cod]

# Environment
.env

# Git
.git
.gitignore

# Docker
docker-compose.yml

# Virtual envs
.venv/
venv/

# VSCode workspace
The-Gym Chatbot.code-workspace

# IDEs
.vscode/
.idea/
